<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%- @cookies.each do |cookie| %>
  <li>
  <%= cookie.name %>
  <%= form_tag "/users/#{@user.id}/cookies", method: :post do %>
    <%= hidden_field_tag :cookie_type_id, cookie.id %>
    <%= submit_tag 'Add Cookie' %>
  <% end %>

  </li>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
